# Images and media
*.png
*.jpg

# macOS system files
*.DS_Store

# Logs
*.log

# Archives
*.zip
*.tar.gz
*.tar

# Environment files
*.env

clean_train_adapted/wandb/

!clean_train_adapted/olmo_core/data/

#  Local training data
data/
!olmo_core/data/
data_local_test/
wiki_tokens.npy

#  Model code submodule
mlruns/


#  Huggingface + transformers cache
cache/
__pycache__/
*.pyc

# VSCode / IDE
.vscode/
.idea/

# Python virtual environments
venv/
new_venv/
.env/

checkpoints_*/

slurm_outputs/
old_slurms/